{% extends 'base.html' %}
{% block content %}
<section class="services-section">
    <h1 class="text-center">Our Photography Packages</h1>

    <div class="package-container">

        <div class="package-card">
            <h2>Basic Package</h2>
            <p>1 Hour Shoot</p>
            <p>20 Edited Photos</p>
            <p>₹2000</p>
        </div>

        <div class="package-card">
            <h2>Standard Package</h2>
            <p>3 Hour Shoot</p>
            <p>50 Edited Photos</p>
            <p>₹5000</p>
        </div>

        <div class="package-card">
            <h2>Premium Package</h2>
            <p>Full Day Coverage</p>
            <p>150 Edited Photos</p>
            <p>₹12000</p>
        </div>

    </div>
</section>
{% endblock %}